{% extends 'baselogin.html' %}

{% block title %} Shop Items {% endblock %}

{% block content %}

{% if items | length < 1 %}
<h1>No Shop items</h1>

{% else %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date Added</th>
            <th scope="col">Product Name</th>
            <th scope="col">In Stock</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}

        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.date_added }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.in_stock }}</td>
            <td><img src="{{ url_for('admin.get_image', filename=item.product_picture) }}"
            alt="{{ item.product_name }}"
            style="height: 50px; width: 50px; border-radius: 2px;">
            </td>


            <td>
                <a href="#">Update</a>
                <br>
                <a href="#">Delete</a>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}