{% extends "base.html" %}

{% block title %}Career - Cenas Kitchen{% endblock %}

{% block content %}
  <section class="career-section">
    <div class="career-wrapper">
      <div class="career-info-box">
      <h2>Apply Now!</h2>
      <p>Join our team at Cenas Kitchen, where we treat staff like family and bring passion to every plate. It’s more than just a job—it’s a chance to grow in a supportive, fun, and flavorful environment.</p>
    </div>
    <div class="career-form-box">
<!-- insert jotform stuff here-->

    </div>
  </div>
  </section>
{% endblock %}


