{% extends "base.html" %}

{% block title %}Community - Cenas Kitchen{% endblock %}

{% block content %}
  <section class="community-hero">
    <div class="community-wrapper">
      <div class="community-info-box">
        <h2>Spirit Days!</h2>
        <p>Hosting a Spirit Day at Cenas Kitchen is a fun and flavorful way to bring your community together while raising funds for a great cause. With every delicious meal, a portion of the proceeds supports your school, team, or organization — all in a lively, welcoming atmosphere.</p>
      
        <div class="flyer-steps-box">
          <h3>Custom Spirit Day Flyers</h3>
          <div class="flyer-step">
            <h4>SCHEDULE EVENT</h4>
            <p>Fundraising events are scheduled on Mondays and Tuesdays and reserved for non-profit organizations. Submist your request form through our website.</p>
          </div>
          <div class="flyer-step">
            <h4>EVENT FLYER</h4>
            <p>We will create a custom flyer for you to disribute with details specific to your fundraising event.</p>
          </div>
          <div class="flyer-step">
            <h4>ADVERTISE</h4>
            <p>Email, hang posters, and hand out flyers to everyone you know - and even those you don't!<br><strong>More participation = More $</strong></p>
          </div>
          <button class="flyer-request-btn" onclick="window.location.href='mailto:catering@cenaskitchen.com?subject=Spirit%20Day%20Flyer%20Request'">
            Request Your Flyer Now!
        </div>
      </div>
      <div class="community-form-box">
        <!-- Embed your JotForm here -->
      </div>
    </div>

  </section>
{% endblock %}