{% extends "base.html" %}

{% block title %}Donations - Cenas Kitchen{% endblock %}

{% block content %}
  <section class="donation-hero">
    <div class="donation-wrapper">
      <div class="donation-info-box">
        <h2>DONATION REQUEST GUIDELINES</h2>
        <p>Thank you for considering us as a potential contributor to your organization. We are proud to support initiatives that uplift our community through education, charity, and local events. In order to fairly evaluate requests, we kindly ask that you complete the donation request form below. Please note the following guidelines:</p>
      
        <div class="donation-steps-box">
          <h3>Donation Requests</h3>
          <div class="donation-step">
            <h4>ELEGIBILITY</h4>
            <p>We prioritize donations to registered non-profit organizations, schools, and charitable events. Proof of your organization's non-profit status may be required.</p>
          </div>
          <div class="donation-step">
            <h4>SUBMISSION</h4>
            <p>All requests must be submitted at least 30 days prior to the date of the event. We are unable to accommodate last-minute requests.</p>
          </div>
          <div class="donation-step">
            <h4>SCOPE</h4>
            <p>While we wish we could support every request, donations will be granted based on the alignment of your cause with our mission and the availability of resources.</p>
          </div>
          <div class="donation-step">
            <h4>RESPONSE TIME</h4>
            <p>Due to the volume of requests, please allow up the two weeks for a response. Submission of a request does not guarantee approval.</p>
          </div>
          <p>We greatly appreciate the work you do for our community, and we look forward to reviewing your application. If you have any questions, feel free to contact us.</p>
        </div>
      </div>
      <div class="community-form-box">
        <!-- Embed your JotForm here -->
      </div>
    </div>

  </section>
{% endblock %}